@charset "utf-8";
/*全局初始化样式*/
*{ outline: none;}
*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,body{ overflow-x: hidden; }
html{
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body{ padding: 0; margin: 0 auto; font-size: 14px; line-height: 1.5; font-family: arial, Microsoft YaHei, '微软雅黑', '宋体'; color: #333; width: 100%; zoom: 1; 

/*禁用Webkit内核浏览器的文字大小调整功能*/
-webkit-text-size-adjust: none;

/*取出点击出现半透明的灰色背景*/
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-tap-highlight: rgba(0, 0, 0, 0);
        
/*设置字体的抗锯齿或者说光滑度*/
-webkit-font-smoothing: antialiased;
}
.ul,
.ul li{ margin: 0; padding: 0; }
pre{ background-color: #666; padding: 1%; color: #fff; }

.demo{ width: 100%; max-width: 1200px; margin: 0 auto; padding: 2% 5%;}
.demo .tibox{ font-size: 40px; margin: 0; padding-bottom: 30px; }
.demo .tibox sub{ color: #999; font-size: 12px; }
.demo .instro li{ padding-top: 3%; }
.demo .instro li:first-child{ padding-top: 0; }
.demo .instro li h3{ font-size: 20px; margin:  0; padding: 0 0 .5% 0; }
.demo table{ border-collapse: collapse; }
.demo td,
.demo th{ border: 1px solid #666; padding: 1%; line-height: 20px; }
.demo .td1,
.demo .td2{ width: 15%; text-align: center; }
.demo .td3{ width: 70%; }


.demolist{ padding-top: 3%; }
.demolist li{ padding-top: 3%; }
.demolist li:first-child{ padding-top: 0; }

.txt-scroll{ background-color: rgba(0,0,0,0.5); background-image: url(../images/ico-notice.png); background-position: 10px center; background-repeat: no-repeat; font-weight: bold; }


/*txt-scroll*/
.txt-scroll{ width: 100%; height: 30px; line-height: 30px; padding: 0 5px 0 30px; }
.txt-scroll .scrollbox{ width: 100%; white-space: nowrap; overflow:hidden; transition: all .2s; }
.txt-scroll .txt,
.txt-scroll .txt-clone{ display: inline; position: relative; }